<div class="row" class="doc-container" *ngIf="doc">
	<div class="col-md-12">

		<div class="row">
			<div class="col-md-8 col-md-offset-2 image-holder">
				<img [src]="doc.image_url" alt="image to be tagged">
			</div>
			<div class="col-md-4 tags-holder">
				<div class="tag" [ngClass]="{'selected': isUserdefinedTag(tag) ? true : false}" *ngFor="let tag of doc.predefined_tags" (click)="toggleTag(tag)">
					<span *ngIf="isUserdefinedTag(tag)" class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{tag}}
				</div>
				<div class="tag" [ngClass]="{'selected': isUserdefinedTag(tag) ? true : false}" *ngFor="let tag of newTags" (click)="toggleTag(tag)">
					<span *ngIf="isUserdefinedTag(tag)" class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{tag}}
				</div>
				<input *ngIf="isAddTag" placeholder="Tag here" class="form-control add-tag" [(ngModel)]="tagEntered" (keyup.enter)="addNewTag()"/>
				<button class="btn btn-success add-tag" (click)="addTag()">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
			</div>
		</div>

		<div class="row submit-holder">
			<div class="col-md-6 col-md-offset-3">
				<button class="btn btn-primary" (click)="saveDoc()">Submit!</button>
			</div>
		</div>

	</div>
</div>
<div class="row" *ngIf="noMoreImages">
	<div class="col-md-6 col-md-offset-3">
		<div class="alert alert-danger" role="alert">No more images to tag !!!</div>
	</div>
</div>